# dependencies
/node_modules
/.pnpm-store/

# testing
/coverage

# next.js
/.next/
/out/

# misc
.DS_Store
Thumbs.db
*.pem
*.key
.eslintcache

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# env files
.env*

# vercel
/.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

AGENTS.md
TODO.md

/scripts
/tests
